In [1]:
import pandas as pd
import numpy as np

In [2]:
email='jose@gmail.com'

In [3]:
email.split('@')

['jose', 'gmail.com']

In [4]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [5]:
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [6]:
names.str.capitalize()

0    Andrew
1      Bobo
2    Claire
3     David
4         4
dtype: object

In [7]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         4
dtype: object

In [8]:
email.isdigit()

False

In [9]:
'5'.isdigit()

True

In [10]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [11]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [12]:
len(tech_finance)

2

In [13]:
tickers = pd.Series(tech_finance)

In [14]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [18]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [16]:
tech = 'GOOG,APPL,AMZN'

In [17]:
tech.split(',')

['GOOG', 'APPL', 'AMZN']

In [24]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])

In [25]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [23]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [26]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [27]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object