In [2]:
import numpy as np
import pandas as pd

from datetime import datetime

In [3]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
mydate = datetime(my_year,my_month,my_day)

In [5]:
mydate

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
mydatetime = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
mydatetime

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [8]:
mydatetime.year

2017

In [10]:
myser = pd.Series(['Nov 9, 1990', '21-03-2000', None])

In [12]:
timeser = pd.to_datetime(myser)

C:\Users\aris0\AppData\Local\Temp\ipykernel_12308\1142799102.py:1: UserWarning: Parsing '21-03-2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  timeser = pd.to_datetime(myser)

In [13]:
timeser

0   1990-11-09
1   2000-03-21
2          NaT
dtype: datetime64[ns]

In [14]:
timeser[0]

Timestamp('1990-11-09 00:00:00')

In [15]:
timeser[0].year

1990

In [16]:
obvi_euro_date = '31-12-2001'

In [17]:
pd.to_datetime(obvi_euro_date)

C:\Users\aris0\AppData\Local\Temp\ipykernel_12308\163700324.py:1: UserWarning: Parsing '31-12-2001' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(obvi_euro_date)

Timestamp('2001-12-31 00:00:00')

In [20]:
euro_date = '10-12-2001'

In [22]:
pd.to_datetime(euro_date,dayfirst=True)

Timestamp('2001-12-10 00:00:00')

In [23]:
style_date = '12--Dec--2000'

In [24]:
pd.to_datetime(style_date,format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [25]:
custom_date = '12th of December 2000'

In [26]:
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [27]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')

In [30]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [33]:
sales['DATE'][0].year

1992

In [35]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [38]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [39]:
sales = sales.set_index('DATE')

In [41]:
sales.resample(rule='A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [42]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [44]:
sales['DATE'].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int64